*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: sans-serif;
}
body{
	background-color: #f1f2f6;
}
	.box{
		width: 1074px;
		height: 370px;
		margin: 100px auto;
	}
		.slider{
			height: 350px;
			width: 1070px;
		}
			.slider .slide-left{
				height: 350px;
				width: 64px;
				float: left;
				display: block;
				text-align: center;
				color: silver;
			}
				.slider .slide-left:hover{
					color: #ff5138;
				}
			.slider-content{
				width: 940px;
				height: 350px;
				float: left;
				position: relative;
			}
				.slider-content img{
					width: 940px;
					height: 350px;
					border-radius: 5px;
					border-bottom: 1px solid #d3d3d3;
				}
				.slider-content .image-text{
					width: 100%;
					position: absolute;
					top: 150px;
				}
				.text{
					float: left;
					margin-left: 81px;
				}
					span.top{
						font-size: 42px;
						line-height: 30px;
						letter-spacing: 5px;
						color: #ff5138;
						text-shadow: 1px 1px 1px white;
					}
					span.bottom{
						font-size: 16px;
						line-height: 20px;
						text-transform: uppercase;
						letter-spacing: 2px;
						color: white;
						text-shadow: 1px 1px 1px #787878;
						font-weight: bold;
						opacity: .4;
					}
				a.button{
					background-color: transparent;
					border: 1px solid #ff5138;
					border-radius: 5px;
					text-transform: uppercase;
					text-decoration: none;
					padding: 20px 30px;
					float: right;
					color: white;
					letter-spacing: 1px;
					margin-right: 80px;
					margin-top: 10px; 
				}
					a.button:hover{
						color: white;
						background-color: #ff5138;
					}
			.slider .slide-right{
				height: 350px;
				width: 64px;
				float: left;
				display: block;
				text-align: center;
				color: silver;
			}
				.slider .slide-right:hover{
					color: #ff5138;
				}
			.slider a i{
				font-size: 100px;
				line-height: 100px;
				margin: 135px 0 0 0;
			}
		.box .slider-dots{
			margin-top: 10px;
			margin-left: 492px;

		}
			.slider-dots li{
				height: 10px;
				width: 10px;
				margin-right: 8px;
				border-radius: 5px;
				border: transparent;
				background-color: silver;
				display: block;
				float: left;
			}
				.slider-dots li:hover{
					background-color: #ff5138;
				}
				.slider-dots li:active{
					background-color: #ff5138;
				}